.MuiDatePickerToolbar-root{
    background-color: #2B3542 !important;
    color: azure;
}

.MuiPickersCalendarHeader-root{
    width : 20rem !important ;
}

.MuiTypography-root .MuiTypography-overline{
    color: white !important;
}


.MuiTypography-overline{
    color: white !important;
}

.MuiTypography-root{
    color: white !important;
}

.MuiPickerStaticWrapper-root{
    border: 5px solid black !important;
    border-radius: 10px;
    position: relative;
    top: 5rem;
}


.MuiDialogActions-spacing{
    background-color: white;
}



.MuiButton-textSizeMedium{
    background-color: #2B3542 !important;
    color: white !important;
}