.leftDashboard{
    background-color: #EFE5FF !important;
    height: 100vh !important;
    
}
.rightDashboard{
    background-color: #F8F8FF !important;
    height: 100vh !important;
    overflow-y: scroll;
}
.rightDashboard::-webkit-scrollbar{
	display: none;
}

.callBtn{
    background-color:#2B0076 !important;
    color: #EFE5FF !important;
}
/* .card-img-top{
    width: 15rem;
}  */

.cutOff-text{
    /* --max-lines : 15;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var (var(--line-height)));
    line-height: var(--line-height); */
    max-height: 70vh !important;
}