.container-fluid{
	height: 100vh;
	overflow-y: scroll;
}
.container-fluid::-webkit-scrollbar{
	display: none;
}

/* .otherInput{
} */

.otherBtn{
	position: relative;
	bottom: 0.5rem;
	left: 0.3rem;
	padding: 0.2rem;
}

.dropDown{
    background-color: transparent !important;
    color: rgb(5, 5, 5)!important;
    border: 3px solid ;
    border-radius: 50px !important;
  }

  .dropDown option{
    background-color: lightblue!important;
    color: black;
    border: 10px solid gold !important;
    border-radius: 20px !important;
    margin: 1rem !important;
  }

  /* .dropDowns{
    font-size: 1.1rem !important;
    border-radius: 10px !important;
    background-color: transparent !important;
  } */
  .dropDowns:hover{
   background-color: black !important;
  }

  .dropDown .option
  {
    background-color: aqua !important ;
  }

  .divider{
    background-color: black !important;
  }
