.leftSide2{
    background-color: #2B0076 !important;
    height: 100vh !important;
}
.signInImg{
    position: relative;
    top: 10rem;
}
.form-container{
    position: relative;
    right: 2rem;
    bottom: 4.5rem;
    height: 70vh !important;
}
.signUpTitle{
    position: relative;
    top : 2rem !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 3rem;
    font-weight: bolder !important;
}
.signUpSpan{
    font-weight: 400 !important;
}

input::placeholder{
    font-weight: 600 !important;
}
input:checked{
    background-color:  #2B0076 !important;
    border: 2px solid gray !important;
}
.text{
    font-weight: 400 !important;
}
.links{
    color:  #2B0076 !important;
    font-weight: 600;
    text-decoration: none;
    margin: 0.3rem !important;
}
.signupBtn{
    background-color: #2B0076 !important;
    color: #EFE5FF !important;
    border-radius: 10px;
}

.rightSide2{
    background-color: #F8F8FF !important;
    height: 100vh !important;
}

.errToaster{
    position: absolute;
    top : 2rem;
    right: 2rem;
    
}

